:root {
    --button-position-x: 0;
    --button-position-y: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1 {
    text-align: center;
}

.container {
    background: linear-gradient(180deg, rgb(218, 214, 214) 30%, rgb(139, 139, 139) 70%);
    height: 12.5rem;
    width: 12rem;
    border-radius: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    &__button {
        visibility: hidden;
    }

    &__button-position {
        transform: translate(var(--button-position-x), var(--button-position-y));
    }

    &__button-position:hover {
        transform: translate(var(--button-position-x), var(--button-position-y));
    }

    &__input {
        margin: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        padding: 0.2rem 0.25rem;
        box-shadow: 0.1rem 0.1rem black;
    }

    &__input:invalid {
        border-color: red;
    }

    &__input:required:valid {
        border-color: green;
        border-width: medium;
    }

    &__input:focus:invalid {
        background-color: lightsalmon;
    }

    &__input:focus:valid {
        background-color: lightgreen;
    }

    &__passwordchecklist {
        visibility: hidden;       
        color: red;

        &-list {
            list-style-type: none;
            padding-left: 1.5rem;
            letter-spacing: 0.05rem;
            text-shadow: 0.02rem 0.02rem black;
        }
    }
}