.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
} 

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;    
    background-color: #414545;
    color: #959eac;
    width: 25px;
    height: 25px;  
    text-align: center;
    cursor: pointer;    
}

.circle-hover:hover {
    background-color: #7c8798;
    color: #ffffff; 
}

.circle-clicked {
    background-color: #fb7413;
    color: #ffffff;
}

.star-size {
    width: 15px;
    height: 15px;
}

.star-color-unclicked {
    filter: invert(69%) sepia(24%) saturate(178%) hue-rotate(177deg) brightness(88%) contrast(82%);
}

.star-color-clicked {
    filter: invert(62%) sepia(29%) saturate(7103%) hue-rotate(351deg) brightness(100%) contrast(99%);
}